---
import BaseLayout from "../layouts/BaseLayout.astro";
import { url } from "../config";
---

<BaseLayout title="404: Not Found" includeSidebar={false}>
    <div class="text-center">
        <h1 class="text-8xl font-bold mb-4">☁️</h1>
        <h1 class="text-6xl font-bold mb-2">404</h1>
        <h3 class="text-2xl">Oops, page not found ...</h3>
        <a class="btn-ac mt-9" href={url('')}>Home</a>
    </div>
</BaseLayout>
