---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-ac-primary/15 text-ac-primary-dark rounded-ac-md";
---

<ul class="menu grow shrink menu-md overflow-y-auto">
    <li>
        <a class="py-3 text-base rounded-ac-md transition-colors hover:bg-ac-sand" id="home" href="/">
            <img src="/nookmiles.png" alt="" class="w-6 h-6 rounded-ac-sm" />
            Home
        </a>
    </li>
    <li>
        <a class="py-3 text-base rounded-ac-md transition-colors hover:bg-ac-sand" id="projects" href="/projects">
            <img src="/nookcreator.png" alt="" class="w-6 h-6 rounded-ac-sm" />
            Projects
        </a>
    </li>
    <li>
        <a class="py-3 text-base rounded-ac-md transition-colors hover:bg-ac-sand" id="cv" href="/cv">
            <img src="/nookwallet.png" alt="" class="w-6 h-6 rounded-ac-sm" />
            CV
        </a>
    </li>
    <li>
        <a class="py-3 text-base rounded-ac-md transition-colors hover:bg-ac-sand" id="blog" href="/blog/">
            <img src="/nookgallery.png" alt="" class="w-6 h-6 rounded-ac-sm" />
            Blog
        </a>
    </li>
    <li>
        <a class="py-3 text-base rounded-ac-md transition-colors hover:bg-ac-sand" id="personal" href="/personal">
            <img src="/nookcritters.png" alt="" class="w-6 h-6 rounded-ac-sm" />
            Personal
        </a>
    </li>
    <li>
        <a class="py-3 text-base rounded-ac-md transition-colors hover:bg-ac-sand" id="notes" href="/notes">
            <img src="/nookmaps.png" alt="" class="w-6 h-6 rounded-ac-sm" />
            Notes
        </a>
    </li>
    <!-- <li><a class="py-3 text-base rounded-ac-md transition-colors hover:bg-ac-sand" id="store" href="/store"><img src="/nookstore.png" alt="" class="w-6 h-6 rounded-ac-sm" />Store</a></li> -->
    <li>
        <a
            class="py-3 text-base rounded-ac-md transition-colors hover:bg-ac-sand"
            href="mailto:zhang.yunxin@live.com"
            target="_blank"
            referrerpolicy="no-referrer-when-downgrade">
            <img src="/mail.png" alt="" class="w-6 h-6 rounded-ac-sm" />
            Contact
        </a>
    </li>
</ul>

<script
    define:vars={{
        sideBarActiveItemID: sideBarActiveItemID,
        activeClass: activeClass,
    }}
>
    const activeItemElem = document.getElementById(sideBarActiveItemID);
    activeItemElem && activeItemElem.classList.add(activeClass);
</script>
